# Disable root login
PermitRootLogin no

# Limit password authentication attempts
MaxAuthTries 3

# Allow only specific users
AllowUsers alice bob

# Disable empty passwords
PermitEmptyPasswords no

# Timeout idle connections
ClientAliveInterval 180

# Disable SSH version 1
Protocol 2

# Secure ciphers
Ciphers aes256-ctr,aes192-ctr,aes128-ctr

PasswordAuthentication no                                      

# Server will not ask for a password, but will use the public key authentication
ChallengeResponseAuthentication no                             

UsePAM no

# Enable logging
LogLevel VERBOSE
